<div class="row">
	<div class="line-blue col-md-12 col-xs-12">
		<%= render "blue" %>
	</div>
	<div class="line-green col-md-12 col-xs-12">
		<%= render "green" %>
	</div>

	<div class="line-orange col-md-12 col-xs-12">
		<%= render "orange" %>
	</div>

	<div class="line-red col-md-12 col-xs-12">
		<%= render "red" %>
	</div>

	<div class="line-silver col-md-12 col-xs-12">
		<%= render "silver" %>
	</div>

	<div class="line-yellow col-md-12 col-xs-12">
		<%= render "yellow" %>
	</div>
</div>